.square,.hit,.ship,.missed{
    border: 2px solid;
    width: 32px;
    height: 32px;
}

.container,.container2{
    display: flex;
   
}

.gameboards{
    display: flex;
    gap: 32px;
}


.ship{
    background-color: black;
}

.missed{
    background-color: gray;
}

.hit{
    background-color: red;
}