.square,.hit,.ship{
    border: 2px solid;
    width: 32px;
    height: 32px;
}

.container{
    display: flex;
   
}

.gameboards{
    display: flex;
    gap: 32px;
}


.ship{
    background-color: black;
}

.hit{
    background-color: red;
}